body.fon{
	background-color: gray;
}

h1{
	background-color: red;
	font-size: 36;
}

h2{
	color: blue;
}

img:hover{
	-webkit-transition: -webkit-transform 2s ease-in;
	transform: rotateZ(360deg);
}

#ui{
	color: purple;
	background-color: yellow;
}

p{
	color: green;
	background-image: url(https://media1.tenor.com/images/f3655c33cc10ae10c21b7b41e2cce10e/tenor.gif?itemid=17067463);
}